.header {
  border-radius: 2px;
  background: #fff;
  margin-top: 50px;
  height: 300px;
  @include box_shadow(1);

  &__buttons {
    position: relative;
    height: 30%;
  }

  &__logout-button {
    text-transform: uppercase;
    border: solid 2px #007de3;
    padding: 6px 20px;
    font-weight: bold;
    font-size: 12px;
    background: #fff;
    color: #007de3;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
  }

  &__upload-button {
    text-transform: initial;
    border: solid 2px #ccc;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 12px;
    background: #fff;
    color: #848484;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 20%);
  }
}
