.menu {
  height: 15%;
  position: relative;
  display: flex;
  padding-left: 220px;
  justify-content: left;
  align-items: center;
  @include box_shadow(2);

  &__item {
    cursor: pointer;
    height: 100%;
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    &--selected {
      border-bottom: #007de3 solid 3px;
    }
  }
}
