.profile {
  position: relative;
  height: 55%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__reviews {
  }

  &__stats {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;
  }

  &__followers {
    position: relative;
    bottom: -95px;
  }

  &__info {
    margin-right: auto;
    margin: 0 auto 0 10px;
  }

  &__picture {
    height: 190px;
    width: 190px;
    overflow: hidden;
    position: relative;

    @include box_shadow(2);
  }
  &__image {
    object-fit: fill;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -37%);
  }
}
